/*custom css*/
header.app {
	display: none;
}

.side-bar {
	display: none;
}

section.portal > .portal-canvas > section.main {
	padding-left: 0 !important;
}

.card > .card-title-category > .card-title {
	color: rgb(242, 129, 94);
}

.card > .card-title-category > .card-category {
    display: none;
}

html, body {
    background-color: #ffffff;
	font-size: 11px;
}

.card {
    background: #f4f4f4;
}

.list-view section.job-list div.cards > div.card-wrapper > a.card > .card-description {
	display: none !important;
}

.card > .card-date {
    display: none !important;
}

.bhi-arrow-right:before {
    color: rgb(242, 129, 94);
}

section.job-list > h4 {
	display: none;
}

section.job-detail > div.apply > button.apply {
	background: rgb(242, 129, 94);
}

a {
	color: rgb(242, 129, 94);
}

a:visited, a:focus, a:active {
	color: rgb(242, 129, 94);
}

.modal-container > div.modal > header {
    background: rgb(242, 129, 94);
}

.modal-container > div.modal > header > section > span.category {
    color: rgb(242, 129, 94);
}

.modal-container > div.modal > div.main section form.apply-form div.form-field.upload-container {
    border: 1px solid rgb(242, 129, 94);
    color: rgb(242, 129, 94);
}

.modal-container > div.modal > header > section > span.location, .modal-container > div.modal > header > section > span.separator, .modal-container > div.modal > header > section > span.type {
	color: rgb(242, 129, 94);
}

@media only screen and (max-width: 992px) {
	.list-view section.job-list div.cards > div.card-wrapper > a.card > .card-location, .list-view section.job-list div.cards > div.card-wrapper > a.card > .card-type, .card > .card-location, .card > .card-type, .card > .card-separator {
	    position: relative;
        top: -4px;
        left: 0%;
	font-weight: 400 !important; 
	margin-top: 3px !important;
	}
    .slide-up-item {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    section.job-detail > div.description {
        padding-left: 20px !important;
        padding-right: 10px !important;
    }
    .slide-up-item .card-title {
        position: relative;
        top: 5px;
    }
}

/*May 11*/
.card { background-color: white }

.list-view section.job-list div.cards > div.card-wrapper > a.card { 
	box-shadow: none; 
	border-bottom: 1px solid black;
	padding-top: 0px;
	padding-left: 0px;
}

.slide-up-item > .card-location {     
	left: 0px;
    top: 18px;
    text-align: left !important;
	position: absolute;
}

.slide-up-item > .card-title-category > .card-title {
    color: black;
    font-size: 1.6em;
    margin-bottom: 0.5em !important;
}

.slide-up-item {
    margin-bottom: 5px !important;
}

.slide-up-item > .card-title-category > .card-title:hover {
    color: rgb(242, 129, 94);
}

.slide-up-item > .card-location, .slide-up-item > .card-type { color: black; font-size: 1.25em;}

.slide-up-item > .card-location:hover, .slide-up-item > .card-type:hover { color: #939597; }

.description > .card-location, .description > .card-type {
	position: inherit; 
	color: #6c6f71;
    font-weight: 500;
    font-size: 1.1em;
    margin: 2px;
}

section.job-detail > div.description > div.job-details {
    margin-top: 2em;
}

section.job-detail > div.description > button.apply:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

section.job-detail > div.description > button.apply {
    background: rgb(242, 129, 94);
    cursor: pointer;
    width: 247px;
    border: none;
    color: #FFFFFF;
    padding: 0.5em;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 1em;
}

/*remove box shadow from job description, and move over to left*/
section.job-detail > div.description {
	box-shadow: none;
    padding: 0;
}

/*remove side box in job description*/
section.job-detail > div.apply {
	display: none;
}

/*give some room for apply button to be seen*/
section.job-detail > div.description {
    margin-bottom: 50px;
}

.list-view section.job-list div.cards > div.card-wrapper > a.card > .card-location {
	font-weight: 400 !important;
	margin-top: 3px !important;
}
